/* div {
    border: 1px solid red;
} */

* {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    --clr-light: rgb(114, 203, 241);
    --clr-light-rgba: rgba(131, 208, 242, 0.5);
}

.title {
    font-weight: 600;
    opacity: 0.90;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.cyan {
    color: var(--clr-light);
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.typography {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.avatar-btn {
    text-align: center;
}

.avatar-btn:hover {
    cursor: pointer;
}

#choose-wisely {
    margin: 5em auto;
    opacity: .3;
}

.btn {
    text-align: center;
}

#arena-container {
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.5em;
}

